  <div class="media">
    <div class="media-body">
      <h4 class="media-heading"></h4>
        <p><%= comment.body %></p>
        <% if policy(comment).edit? %>
        <%= link_to "Edit Comment", edit_topic_post_comment_path(@topic, @post, comment), class: 'btn btn-success' %>
        <%= link_to "Delete Comment", [@topic, @post, comment], method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %> 
        <% end %> 
    </div>
  </div>