<h1>All Comments</h1>
<% @comments.each do |comment| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to comment.title, comment %>
      </h4>
    </div>
  </div>
<% end %>
