<h1>New Comment</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidlines for Comments</p>
    <ul>
      <li>Be polite.</li>
      <li>Make insightful contributions.</li>
      <li>The incessant use of hashtags will get you banned.</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= form_for [@post, @user, @comment] do |f| %>
      <div class="form-group">
        <%= f.label "Make a comment" %>
        <%= f.text_field :body, rows: 8, class: 'form-control', placeholder: "type your comment" %>
      </div>
      <div class="form-group">
        <%= f.submit "Save", class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>    
</div>