<br>
<div class="jumbotron">
  <h1>Bloccit</h1>
  <p>Blocit was created as an introduction to web development with Rails.</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Share ideas.</h2>
    <p>It is good to share with one another.</p>
  </div>
  <div class="col-md-4">
    <h2>Stay in touch.</h2>
    <p>Write a post, make a comment, or ask a question.</p>
  </div>
  <div class="col-md-4">
    <h2>And more.</h2>
    <p>I'll think of more things to add.</p>
  </div>
</div>