.social-btn {
   background: #F0FFF0;
   border-style: solid;
   border-width: 2px;
   border-color: #778899;
   border-radius: 25px;
   width: 180px;
   margin: 12px 0px 12px 0px;
   padding: 8px 12px 8px 12px;
   text-align: center;
}