<% if policy(Vote.new).create? %>
  <% if post.respond_to?(:image?) %>
    <div class='pull-left vote-arrows'>
      <div>
        <%= link_to " ", 
          post_up_vote_path(post), 
          class: up_vote_link_classes(post), 
          method: :post %>
      </div>
      <div>
        <strong><%= post.points %></strong>
      </div>
      <div>
        <%= link_to " ", post_down_vote_path(post), 
        class: down_vote_link_classes(post),
        method: :post %>
      </div>
    </div>
  <% end %>
<% end %>